<%- include("./partials/_header") %>

<!-- start -->
<div style="align-self: stretch; height: 266px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
    <div style="align-self: stretch; color: black; font-size: 24px; font-family: Maison Neue; font-weight: 600; line-height: 33.24px; word-wrap: break-word">Your Cart</div>
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <img style="width: 70px; height: 100px" src="https://via.placeholder.com/70x100" />
        <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">The Organic Cotton Long-Sleeve Turtleneck</div>
                    <div style="align-self: stretch; color: #737373; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">Medium | Black</div>
                </div>
                <div style="width: 14px; height: 14px; position: relative">
                    <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 9.62px; height: 0px; left: 2.19px; top: 3.06px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 0px; height: 3.50px; left: 5.69px; top: 5.69px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 0px; height: 3.50px; left: 8.31px; top: 5.69px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 7.88px; height: 8.75px; left: 3.06px; top: 3.06px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 4.38px; height: 1.75px; left: 4.81px; top: 1.31px; position: absolute; border: 1px #737373 solid"></div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
                        <div style="color: #737373; font-size: 12px; font-family: Maison Neue; font-weight: 400; text-decoration: line-through; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">$50</div>
                        <div style="color: #262626; font-size: 12px; font-family: Maison Neue; font-weight: 600; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">$35</div>
                    </div>
                    <div style="align-self: stretch; color: #D0021B; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">(30% Off)</div>
                </div>
                <div style="padding: 12px; border: 1px #DDDBDC solid; justify-content: flex-start; align-items: center; gap: 15px; display: flex">
                    <div style="width: 12px; height: 12px; position: relative">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 8.25px; height: 0px; left: 1.88px; top: 6px; position: absolute; border: 1px #262626 solid"></div>
                    </div>
                    <div style="width: 1px; text-align: center; color: black; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">1</div>
                    <div style="width: 12px; height: 12px; position: relative">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 8.25px; height: 0px; left: 1.88px; top: 6px; position: absolute; border: 1px #262626 solid"></div>
                        <div style="width: 0px; height: 8.25px; left: 6px; top: 1.88px; position: absolute; border: 1px #262626 solid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
        <img style="width: 70px; height: 100px" src="https://via.placeholder.com/70x100" />
        <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">The ReWool@ Oversized Shirt Jacket</div>
                    <div style="align-self: stretch; color: #737373; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">Small | Black</div>
                </div>
                <div style="width: 14px; height: 14px; position: relative">
                    <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute"></div>
                    <div style="width: 9.62px; height: 0px; left: 2.19px; top: 3.06px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 0px; height: 3.50px; left: 5.69px; top: 5.69px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 0px; height: 3.50px; left: 8.31px; top: 5.69px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 7.88px; height: 8.75px; left: 3.06px; top: 3.06px; position: absolute; border: 1px #737373 solid"></div>
                    <div style="width: 4.38px; height: 1.75px; left: 4.81px; top: 1.31px; position: absolute; border: 1px #737373 solid"></div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
                        <div style="color: #737373; font-size: 12px; font-family: Maison Neue; font-weight: 400; text-decoration: line-through; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">$238</div>
                        <div style="color: #262626; font-size: 12px; font-family: Maison Neue; font-weight: 600; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">$167</div>
                    </div>
                    <div style="align-self: stretch; color: #D0021B; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">(30% Off)</div>
                </div>
                <div style="padding: 12px; border: 1px #DDDBDC solid; justify-content: flex-start; align-items: center; gap: 15px; display: flex">
                    <div style="width: 12px; height: 12px; position: relative">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 8.25px; height: 0px; left: 1.88px; top: 6px; position: absolute; border: 1px #262626 solid"></div>
                    </div>
                    <div style="width: 1px; text-align: center; color: black; font-size: 12px; font-family: Maison Neue; font-weight: 400; line-height: 16px; letter-spacing: 0.20px; word-wrap: break-word">1</div>
                    <div style="width: 12px; height: 12px; position: relative">
                        <div style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute"></div>
                        <div style="width: 8.25px; height: 0px; left: 1.88px; top: 6px; position: absolute; border: 1px #262626 solid"></div>
                        <div style="width: 0px; height: 8.25px; left: 6px; top: 1.88px; position: absolute; border: 1px #262626 solid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<%- include("./partials/_footer") %>