<%- include("./partials/_header") %>

<!-- Main Img -->
<div style="margin-left: 280px;">
<div style="align-self: stretch; height: 558px; width: 1050px; padding-top: 275px; padding-bottom: 275px; padding-left: 32px; padding-right: 632px; background-image: url(https://down-aka-id.img.susercontent.com/9e06810732869b0abf559ea5b17faa1b); flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
</div>
</div>
<!-- End of Main Img -->
<!-- Category -->
<div style="align-self: stretch; height: 534px; padding-left: 42px; padding-right: 42px; padding-top: 90px; padding-bottom: 90px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 25px; display: flex">
    <div style="align-self: stretch; text-align: center; color: #262626; font-size: 24px; font-family: Maison Neue; font-weight: 400; line-height: 33.24px; word-wrap: break-word">Shop by Category</div>
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; width: 213; height: 263px" src="https://down-id.img.susercontent.com/file/id-11134207-7r98o-lkqzddqwlaped1" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">SHIRTS </div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; width: 213; height: 263px" src="https://down-id.img.susercontent.com/file/id-11134207-7r98x-ll4qbz9vp0a3fa" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">DENIM</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; width: 213; height: 263px" src="https://down-id.img.susercontent.com/file/id-11134207-7qul0-ljh52puxtgn3cd" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">TEES</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; width: 213; height: 263px" src="https://down-id.img.susercontent.com/file/id-11134207-7r98p-ll4qbz9vnlpn1a" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">PANTS</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; width: 213; height: 263px" src="https://down-id.img.susercontent.com/file/sg-11134201-22100-5rmhla9lypivb8" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">SWEATERS</div>
        </div>
    </div>
</div>
<!-- End of Category -->


<%- include("./partials/_footer") %>