<%- include("./partials/_header") %>

<!-- Main Img -->
<div style="align-self: stretch; height: 758px; padding-top: 275px; padding-bottom: 275px; padding-left: 32px; padding-right: 632px; background-image: url(https://via.placeholder.com/1400x758); flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
    <div style="height: 208px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; display: flex">
        <div style="align-self: stretch; height: 137px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 14px; display: flex">
            <div style="align-self: stretch; text-align: center; color: white; font-size: 46px; font-family: Maison Neue; font-weight: 400; line-height: 55.20px; letter-spacing: 0.92px; word-wrap: break-word">Your Cozy Era</div>
            <div style="align-self: stretch; text-align: center; color: white; font-size: 24px; font-family: Maison Neue; font-weight: 400; line-height: 33.24px; word-wrap: break-word">Get peak comfy-chic<br/>with new winter essentials.</div>
        </div>
        <div style="width: 240px; padding-top: 12px; padding-bottom: 12px; background: white; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">SHOP NOW</div>
        </div>
    </div>
</div>
<!-- End of Main Img -->
<!-- Category -->
<div style="align-self: stretch; height: 534px; padding-left: 42px; padding-right: 42px; padding-top: 90px; padding-bottom: 90px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 25px; display: flex">
    <div style="align-self: stretch; text-align: center; color: #262626; font-size: 24px; font-family: Maison Neue; font-weight: 400; line-height: 33.24px; word-wrap: break-word">Shop by Category</div>
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">SHIRTS </div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">DENIM</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">TEES</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">PANTS</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">SWEATERS</div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
            <img style="align-self: stretch; height: 263px" src="https://via.placeholder.com/213x263" />
            <div style="align-self: stretch; text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; text-decoration: underline; line-height: 20px; letter-spacing: 1.40px; word-wrap: break-word">OUTERWEAR</div>
        </div>
    </div>
</div>
<!-- End of Category -->
<div style="align-self: stretch; padding-left: 42px; padding-right: 42px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
    <div style="flex: 1 1 0; height: 534px; background-image: url(https://via.placeholder.com/431x534); flex-direction: column; justify-content: center; align-items: center; gap: 23px; display: inline-flex">
        <div style="align-self: stretch; text-align: center; color: white; font-size: 40px; font-family: Maison Neue; font-weight: 400; line-height: 48px; letter-spacing: 0.20px; word-wrap: break-word">New Arrivals</div>
        <div style="width: 240px; padding-top: 12px; padding-bottom: 12px; background: white; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">SHOP THE LATEST</div>
        </div>
    </div>
    <div style="flex: 1 1 0; height: 534px; background-image: url(https://via.placeholder.com/431x534); flex-direction: column; justify-content: center; align-items: center; gap: 23px; display: inline-flex">
        <div style="align-self: stretch; text-align: center; color: white; font-size: 40px; font-family: Maison Neue; font-weight: 400; line-height: 48px; letter-spacing: 0.20px; word-wrap: break-word">Best-Sellers</div>
        <div style="width: 240px; padding-top: 12px; padding-bottom: 12px; background: white; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">SHOP YOUR FAVORITES</div>
        </div>
    </div>
    <div style="flex: 1 1 0; height: 534px; background-image: url(https://via.placeholder.com/431x534); flex-direction: column; justify-content: center; align-items: center; gap: 23px; display: inline-flex">
        <div style="align-self: stretch; text-align: center; color: white; font-size: 40px; font-family: Maison Neue; font-weight: 400; line-height: 48px; letter-spacing: 0.20px; word-wrap: break-word">The Holiday Outfit</div>
        <div style="width: 240px; padding-top: 12px; padding-bottom: 12px; background: white; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: #262626; font-size: 14px; font-family: Maison Neue; font-weight: 400; line-height: 16.80px; letter-spacing: 1.40px; word-wrap: break-word">SHOP OCCASION</div>
        </div>
    </div>
</div>

<%- include("./partials/_footer") %>